.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.item a{
    color: white;
    text-decoration: none;
}

.item .active {
    color: #205e55;
    text-decoration: underline;
}